{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h5 class="card-title mb-0">{{ title|title }}</h5>
            </div>
            <div class="card-body">
                <form id="login_form" action="{% url 'auth:login' %}" method="POST">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                </form>
            </div>
            <div class="card-footer text-center">
                <input class="btn btn-success text-capitalize w-25" type="submit" value="вход" form="login_form">
                <a class="btn btn-primary text-capitalize w-25" href="{% url 'auth:register' %}">
                    регистрация
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}