{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h5 class="card-title mb-0">{{ title|title }}</h5>
            </div>
            <div class="card-body">
                <form id="register_form" action="{% url 'auth:register' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{ register_form.as_p }}
                </form>
            </div>
            <div class="card-footer text-center">
                <input class="btn btn-success text-capitalize w-50" type="submit" value="регистрация" form="register_form">
            </div>
        </div>
    </div>
</div>
{% endblock %}