{% for item in shopping_cart %}
<div class="row border-bottom">
    <div class="col-md-6 p-2">
        <div class="media">
            <img class="w-25 mr-2" src="{% if item.product.image %}
                {{ item.product.image.url }}
            {% endif %}" alt="product.name">
            <div class="media-body">
                <a href="{% url 'products:product' item.product.category.url_path item.product.pk %}" target="_blank">
                    {% if item.product.brand|lower != 'noname' %} {{ item.product.brand|capfirst }} {% endif %} {{ item.product.name }}
                </a>
                <p class="text-muted small">{{ item.product.short_desc }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 mt-md-0 d-flex align-items-center justify-content-center">
        <input class="form-control w-50" type="number" name="{{ item.pk }}" value="{{ item.quantity }}" min=0>
    </div>
    <div class="col-md-3 my-2 my-md-0 pr-lg-4 d-flex align-items-center justify-content-center justify-content-md-end">
        <span>{{ item.total_product_sum }}&nbsp;
            <i class="fas fa-ruble-sign"></i>
        </span>
        <button type="button" class="remove-btn text-danger ml-3 mx-lg-4" name="{{ item.pk }}" title="удалить">
            <i class="far fa-times-circle"></i>
        </button>
    </div>
</div>
{% endfor %}
<div class="row border-bottom">
    <div class="col-md-6 p-2">
        <h5 class="my-0 my-md-4 text-center text-md-right">Итого: </h5>
    </div>
    <div class="col-md-3 mt-2 mt-md-0 d-flex align-items-center justify-content-center">
        <h5 class="my-0 my-md-4">
            <span id="cart-quantity-bottom">{{ shopping_cart.0.products_quantity }}</span> шт.
        </h5>
    </div>
    <div class="col-md-3 my-2 my-md-0 d-flex flex-column align-items-center justify-content-center">
        <h5 class="my-0 my-md-4">{{ shopping_cart.0.total_cart_sum }}&nbsp;
            <i class="fas fa-ruble-sign"></i>
        </h5>
    </div>
</div>