{% extends 'adminapp/base.html' %}

{% block main %}
<div class="col-md-6">
    <form method="POST">
        {% csrf_token %}
        объект:&nbsp;
        {% if mode == 'user' %}
            {{ object.first_name|default:object.get_username }} {{ object.last_name }}
        {% else %}
            {{ object.name }}
        {% endif %}
        <p>Подтвердить удаление?<br>
            <span class="small text-danger">(это действие нельзя отвенить)</span>
        </p>
        <button type="submit" class="btn btn-danger px-3">
            Да&nbsp;<i class="far fa-check-circle"></i>
        </button>
        <a class="btn btn-primary px-3" href="{{ request.META.HTTP_REFERER }}">
            Нет&nbsp;<i class="fas fa-ban"></i>
        </a> 
</form>
</div>
{% endblock %}