{% extends 'adminapp/base.html '%}

{% block main %}
<div class="col-md-6">
    <div class="list-group">
        <a href="{% url 'admin:cat-list' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-sitemap mr-3 text-info"></i>Категории
        </a>
        <a href="{% url 'admin:brand-list' %}" class="list-group-item list-group-item-action">
            <i class="fab fa-font-awesome-flag mr-3 text-success text-center" style="width: 20px;"></i>Бренды
        </a>
        <a href="{% url 'admin:product-list' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-warehouse mr-3 text-warning"></i>Продукты
        </a>
        <a href="{% url 'admin:user-list' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-users mr-3 text-primary"></i>Пользователи
        </a>
    </div>
</div>
{% endblock %}