{% extends 'adminapp/base.html '%}

{% block main %}
<div class="row w-100 justify-content-between mb-3">
    <a href="
    {% if mode == 'cat_list' %}
        {% url 'admin:cat-create' %}
    {% elif mode == 'user_list' %}
        {% url 'admin:user-create' %}
    {% endif %}
        " class="btn btn-success px-3">
            добавить&nbsp;<i class="far fa-plus-square"></i>
    </a>
    {% if is_paginated %}
    <form method="GET">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">объектов на странице:</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="paginate_by" id="paginate_by" onchange="this.form.submit()">
                <option value="25" onclick="this.form.submit()" {% if paginate_by|add:'0' == 25 %}selected{% endif %}>25</option>
                <option value="50"{% if paginate_by|add:'0' == 50 %}selected{% endif %}>50</option>
                <option value="100"{% if paginate_by|add:'0' == 100 %}selected{% endif %}>100</option>
            </select>
        </div>
    </form>
    <div class="adm-paginator">
        {% if 2 < page_obj.number %}
        <a href="?paginate_by={{ paginate_by }}&page=1">
            <i class="fas fa-fast-backward"></i>
        </a>
        {% endif %}
        {% if page_obj.has_previous %}
            <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.previous_page_number }}">
                <i class="fas fa-step-backward"></i>
            </a>
        {% endif %}
        <span class="small">
            {{ page_obj.number }} из {{ page_obj.paginator.num_pages   }}
        </span>
        {% if page_obj.has_next %}
            <a href="?paginate_by={{ paginate_by }}&page={{ page_obj.next_page_number }}">
                <i class="fas fa-step-forward"></i>
            </a>
            {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                <a href="?paginate_by={{ paginate_by }}&page=last">
                    <i class="fas fa-fast-forward"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
<div class="col-md-6">
    <table class="table">
        <tbody>

        {% for obj in object_list %}
            <tr>
                <td>

                {% if mode == 'cat_list' %}
                    <a href="{% url 'admin:product-list' %}?category={{ obj.pk }}"
                        {% if not obj.is_active %}
                            class="text-muted font-italic"
                        {% endif %}>
                        {{ obj.name }}
                    </a>
                {% elif mode == 'user_list' %}
                    <span {% if not obj.is_active %}
                            class="text-muted font-italic"
                        {% endif %}>
                        {{ obj.first_name|default:obj.get_username }} {{ obj.last_name }}
                    </span>
                {% else %}
                    <span {% if not obj.is_active %}
                            class="text-muted font-italic"
                        {% endif %}>
                        {{ obj.name }}
                    </span>
                {% endif %}

                </td>
                <td>
                    <a class="text-primary" href="
                {% if mode == 'cat_list' %}
                    {% url 'admin:cat-edit' obj.pk %}
                {% elif mode == 'user_list' %}
                    {% url 'admin:user-edit' obj.pk %}
                {% elif mode == 'brand_list' %}
                    {% url 'admin:brand-edit' obj.pk %}
                {% endif %}
                    " title="редактировать">
                        <i class="fas fa-edit"></i>
                    </a>     
                </td>
                <td>
                    <a class="text-danger" href="
                {% if mode == 'cat_list' %}
                    {% url 'admin:cat-remove' obj.pk %}
                {% elif mode == 'user_list' %}
                    {% url 'admin:user-remove' obj.pk %}
                {% elif mode == 'brand_list' %}
                    {% url 'admin:brand-remove' obj.pk %}
                {% endif %}
                    " title="удалить">
                        <i class="far fa-times-circle"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock %}