{% extends 'base.html' %} 
{% load extra_tags %}

{% block main %}
{% if products|length_is:'0' %}
    <h5>Нет товаров в данной категории.</h3>
{% endif %}
<div class="row">
    {% for product in products %}
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100 shadow-sm">
            <img class="card-img-top" src="
                    {% if product.image %}
                        {{ product.image.url }}
                    {% endif %}" 
                alt="{{ product.name }}" data-holder-rendered="true">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="card-link" href="{% url 'products:product' product.category.url_path product.pk %}">
                        {% if product.brand|stringformat:'s'|lower != 'noname' %}
                            {{ product.brand|capfirst }}
                        {% endif %}
                        {{ product.name }}
                    </a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.price|pprice }} <i class="fas fa-ruble-sign"></i></h6>
                <p class="card-text">{{ product.short_desc }}</p>
            </div>
            <div class="card-footer bg-transparent">
                    {% if product.quantity > 0 %}
                    <a href="{% url 'shopping_cart:add' product.pk %}" class="btn btn-warning btn-block">Купить&nbsp;
                        <i class="fas fa-cart-plus"></i>
                    </a>
                {% else %}
                    <button type="button" class="btn btn-warning btn-block" disabled>Нет в наличии&nbsp;
                        <i class="far fa-frown"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if products.has_other_pages %}
    <div class="row paginator justify-content-center">
    {% if 2 < products.number %}
        <a href="{% url 'products:page' products.0.category.url_path 1 %}">
            <i class="fas fa-angle-double-left"></i>
        </a>&nbsp;
    {% endif %}
    <span>
        {% if products.has_previous %}
        <a href="{% url 'products:page' products.0.category.url_path products.previous_page_number %}">
            {{ products.previous_page_number }}
        </a>
        {% endif %}
        <span class="font-weight-bold">{{ products.number }}</span>
        {% if products.has_next %}
        <a href="{% url 'products:page' products.0.category.url_path products.next_page_number %}">
            {{ products.next_page_number }}
        </a>
        {% endif %}
    </span>
    {% if products.number|add:'1' < products.paginator.num_pages %}
        &nbsp;<a href="{% url 'products:page' products.0.category.url_path products.next_page_number %}">
            <i class="fas fa-angle-double-right"></i>
        </a>
    {% endif %}
    </div>
{% endif %}

{% endblock %}