{% extends 'mainapp/base.html' %} 

{% block main %}
<div class="row">
    {% for product in products %}
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <img class="card-img-top" src="
                    {% if product.image %}
                        {{ product.image.url }}
                    {% endif %}" 
                alt="{{ product.name }}" data-holder-rendered="true">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="card-link" href="#">
                        {% if product.brand %}
                            {{ product.brand }}
                        {% endif %}
                        {{ product.name }}
                    </a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.price }} <i class="fas fa-ruble-sign"></i></h6>
                <p class="card-text">{{ product.short_desc }}</p>
            </div>
            <div class="card-footer bg-transparent">
                <a href="#" class="btn btn-warning btn-block">Купить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}