<nav class="nav nav-pills nav-fill mt-3 container">
    <a class="nav-item nav-link active" href="{% url 'category' %}">Телефоны</a>
    <a class="nav-item nav-link" href="{% url 'category' %}">Планшеты</a>
    <a class="nav-item nav-link" href="{% url 'category' %}">Ноутбуки</a>
    <a class="nav-item nav-link" href="{% url 'category' %}">Телевизоры</a>
    <a class="nav-item nav-link" href="{% url 'category' %}">Игровые приставки</a>
    <a class="nav-item nav-link" href="{% url 'contacts' %}">Контакты</a>
</nav>