<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-2 py-md-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <b>Geek</b>Shop
        </a>
        <span href="#" class="navbar-brand d-none d-md-block text-primary ml-lg-5">
            <span class="small">+7 (812) </span>
            <b>111-22-33</b>
            <small class="text-muted d-none d-xl-inline"> с 10 до 22 ежедневно</small>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavTop" aria-controls="navbarNavTop"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mt-2 mt-lg-0" id="navbarNavTop">
            <div class="d-md-none text-center mb-2">
                <h5 class="text-primary mb-0">+7 (812) 111-22-33</h5>
                <div class="small text-muted">с 10 до 22 ежедневно</div>
            </div>
            <form class="form-inline mx-lg-3">
                <div class="input-group w-100">
                    <input class="form-control" placeholder="Поиск" aria-label="search" type="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fas fa-search fa-flip-horizontal"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="navbar-nav">
                <a class="nav-item nav-link d-none d-lg-inline" href="{% url 'shopping_cart:view' %}">
                    {% if shopping_cart_count %}
                        <span class="text-danger">
                            <i class="fas fa-cart-arrow-down"></i>-{{ shopping_cart_count }}
                        </span>
                    {% else %}
                        <i class="fas fa-shopping-cart"></i>
                    {% endif %}
                </a>
                <a class="nav-item nav-link btn btn-sm btn-warning d-lg-none mt-2 mb-1" href="#">
                    Корзина&nbsp;
                    {% if shopping_cart_count %}
                        <i class="fas fa-cart-arrow-down"></i> - товаров: {{ shopping_cart_count }}
                    {% else %}
                        <i class="fas fa-shopping-cart"></i>
                    {% endif %}
                </a>
                {% if user.is_authenticated %}
                    <div class="nav-item px-3 d-none d-lg-block text-center">
                        <a class="nav-link" href="{% url 'auth:edit' %}">{{ user.first_name|default:user.get_username }}</a>
                    </div>
                    <a class="nav-item nav-link btn btn-sm btn-info d-lg-none text-center text-white" href="{% url 'auth:edit' %}">
                        {{ user.first_name|default:user.get_username }}
                        &nbsp;<i class="fas fa-user"></i>
                    </a>
                    <a class="nav-item nav-link btn btn-sm btn-danger px-3 mt-1 mt-lg-0 text-white" href="{% url 'auth:logout' %}">
                        Выход&nbsp;
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                {% else %}
                    <a class="nav-item nav-link btn btn-sm btn-primary px-3 mt-1 mt-lg-0 text-white" href="{% url 'auth:login' %}">
                        Вход&nbsp;
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>