{% extends 'mainapp/base.html' %}

{% block main %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Важно!</h1>
            <p class="lead">Не следует, однако, забывать, что реализация намеченных плановых заданий предоставляет широкие возможности
                для дальнейших направлений развития.</p>
            <hr class="my-4">
            <p>С учетом сложившейся международной обстановки, современная методология разработки, в своем классическом представлении,
                допускает внедрение кластеризации усилий. И нет сомнений, что ключевые особенности структуры проекта
                функционально разнесены на независимые элементы.</p>
        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Горячие новинки</h1>
            <p class="lead font-weight-normal">Прежде всего, существующая теория говорит о возможностях кластеризации усилий.</p>
            <a class="btn btn-outline-secondary" href="#">Предзаказ</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <a class="d-block bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden showCase" href="#">
            <div class="my-3 py-3">
                <h2 class="display-5">Супер девайс</h2>
                <p class="lead">Краткое описание девайса, замануха.</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </a>
        <a class="d-block bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden showCase" href="#">
            <div class="my-3 p-3">
                <h2 class="display-5">Супер девайс</h2>
                <p class="lead">Краткое описание девайса, замануха.</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </a>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <a class="d-block bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden showCase" href="#">
            <div class="my-3 p-3">
                <h2 class="display-5">Супер девайс</h2>
                <p class="lead">Краткое описание девайса, замануха.</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </a>
        <a class="d-block bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden showCase" href="#">
            <div class="my-3 py-3">
                <h2 class="display-5">Супер девайс</h2>
                <p class="lead">Краткое описание девайса, замануха.</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </a>
    </div>
{% endblock %}