{% extends 'base.html' %} 

{% block main %}
<div class="row border border-light shadow-sm p-3">
    <div class="col-md-5 col-lg-6">
        <img class="img-fluid img-product" src="
            {% if product.image %}
                {{ product.image.url }}
            {% endif %}" alt="{{ product.name }}" data-holder-rendered="true">
    </div>
    <div class="col-md-7 col-lg-6">
        <h3>
            {% if product.brand|stringformat:'s'|lower != 'noname' %} {{ product.brand|capfirst }} {% endif %} {{ product.name }}
        </h3>
        <div class="row mb-2 align-items-center">
            <h4 class="text-muted col-sm mb-sm-0">{{ product.price }}
                <i class="fas fa-ruble-sign"></i>
            </h4>
            <div class="col-sm d-lg-none">
                <a href="{% url 'shopping_cart:add' product.pk %}" class="btn btn-warning px-4">Купить&nbsp;
                    <i class="fas fa-cart-plus"></i>
                </a>
            </div>
        </div>
        <div class="mb-2 d-flex align-items-center">
            <small>на складе:&nbsp;</small>
            {% if product.quantity == 0 %}
            <i class="fas fa-battery-empty"></i>
            {% elif product.quantity < 10 %}
            <i class="fas fa-battery-quarter text-danger"></i>
            {% elif product.quantity < 30 %}
            <i class="fas fa-battery-half text-warning"></i>
            {% else %}
            <i class="fas fa-battery-full text-success"></i>
            {% endif %}
        </div>
        <p>{{ product.short_desc }}</p>
        <p>{{ product.full_desc }}</p>
        {% if product.quantity > 0 %}
            <a href="{% url 'shopping_cart:add' product.pk %}" class="btn btn-warning px-4 d-none d-lg-inline">Купить&nbsp;
                <i class="fas fa-cart-plus"></i>
            </a>
        {% else %}
            <button type="button" class="btn btn-warning px-4 d-none d-lg-inline" disabled>Нет в наличии&nbsp;
                <i class="far fa-frown"></i>
            </button>
        {% endif %}
    </div>
</div>
{% endblock %}