<nav class="nav nav-pills nav-fill mt-3 container">
    {% for link in categories_links %}
        <a class="nav-item nav-link
            {% if request.resolver_match.kwargs.cat_url and request.resolver_match.kwargs.cat_url == link.cat_url %}
                active
            {% endif %}"
            href="{% url 'products:category' link.cat_url %}">
            {{ link.cat_name|capfirst }}
        </a>
    {% endfor %}
    <a class="nav-item nav-link {% if request.resolver_match.url_name == 'contacts' %} active {% endif %}"
    href="{% url 'contacts' %}">
    Контакты
    </a>
</nav>